################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/DesafioBackendMiniQrApi.Application/obj
/DesafioBackendMiniQrApi.CrossCutting/obj
/DesafioBackendMiniQrApi.Data/obj
/DesafioBackendMiniQrApi.Domain/obj
/DesafioBackendMiniQrApi.Integrations/obj
/DesafioBackendMiniQrApi.Tests/obj
/obj
/DesafioBackendMiniQr.Api/obj
