################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/DesafioBackendMiniQrApi.Application/obj
/DesafioBackendMiniQrApi.CrossCutting/obj
/DesafioBackendMiniQrApi.Data/obj
/DesafioBackendMiniQrApi.Domain/obj
/DesafioBackendMiniQrApi.Integrations/obj
/DesafioBackendMiniQrApi.Tests/obj
/obj
/DesafioBackendMiniQr.Api/obj
/DesafioBackendMiniQr.Api/bin/
/DesafioBackendMiniQrApi.Application/bin/
/DesafioBackendMiniQrApi.CrossCutting/bin/
/DesafioBackendMiniQrApi.CrossCutting.IoC/bin/
/DesafioBackendMiniQrApi.CrossCutting.IoC/obj/
/DesafioBackendMiniQrApi.Data/bin/
/DesafioBackendMiniQrApi.Domain/bin/
/DesafioBackendMiniQrApi.Integrations/bin/
/DesafioBackendMiniQrApi.Tests/bin/
